body {
        background-color: rgb(223, 223, 223);
}

#display-container {
        display: flex;
        justify-content: center;
}

.columnContainer {
        display: flex;
        flex-direction: column;
        margin: 5px 5px;
}

.wrapper {
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 5px 10px 5px;
        width: 40vw;
}

.buttonHolder {
        display: flex;
        flex-direction:row-reverse;
}

.deleteButton {
        background-color: rgb(241, 79, 79);
        border-radius: 5px;
}
.visitButton {
        background-color: rgb(225, 241, 79);
        border-radius: 5px;
        margin-left: 5px;
}

.updateParkButton {
        background-color: rgb(79, 195, 241);
        border-radius: 5px;
}
.editButton {
        margin-left: 5px;
        background-color: rgb(109, 219, 95);
        border-radius: 5px;
}